<%-include('partials/header.ejs')%>
   <div class="container" id="form-myDiv">
    <div class="container row">
        <h1 class="display-6"> Error 500</h1>
        <p class="col-12">Bad Request</p>
        <p class="col-12">The server could not understand the request due to invalid syntax.</p>
        <a href="/home" class="btn btn-primary col-4">Go to Home</a>
    </div>
   </div>
    <%-include('partials/footer.ejs')%>