<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default navbar-mobile bootsnav on">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="active"><a href="#" data-hover="Home">Summary <span data-hover="Home"></span></a></li>
                        <li><a href="/admin/post" data-hover="About">Posts <span data-hover="About"></span></a></li>
                        <li><a href="/admin/category" data-hover="About">Posts <span data-hover="About"></span></a></li>
                        <li><a href="/admin/users" data-hover="About">Posts <span data-hover="About"></span></a></li>
                        <li><a href="/admin/comments" data-hover="About">Posts <span data-hover="About"></span></a></li>
                        <li><a href="/admin/post" data-hover="About">Posts <span data-hover="About"></span></a></li>
                        <li><a href="/admin/messages" data-hover="About">Posts <span data-hover="About"></span></a></li>
                        </ul>
                </div>
            </nav>
        </div>
    </div>
</div>