<section class="simple-cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="left-image">
            <img src="assets/images/cta-left-image.png" alt="">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h6>Get the sale right now!</h6>
          <h4>Up to 20% OFF For 1+ courses</h4>
          <p>Get Register yourself. Don’t Forget so You Will Never Regret.</p>
          <div class="white-button">
            <a href="/contact-add">Register Yourself</a>
          </div>
        </div>
      </div>
    </div>
  </section>