<%- include('header.ejs') %>

<div class="container mt-5">
  <form class="row g-3" action="/user/login" method="POST">
    <h1 class="display-6 text-center mb-4">User Login</h1>

    <div class="col-md-6 offset-md-3">
      <label for="email" class="form-label">Email or Username</label>
      <input type="text" name="email" id="email" class="form-control" required>
    </div>

    <div class="col-md-6 offset-md-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <div class="col-12 text-center mt-4">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </form>
  <div class="col-md-6 offset-md-3 text-center mt-2">
  <small>
    <a href="/contact-add">New User? Register</a> |
    <a href="/user/forgot-password">Forgot Password?</a>
  </small>
</div>
  <div class="col-md-6 offset-md-3 text-center mt-2">
    <small>
      <a href="/">Back to Home</a>
    </small>
  </div>
</div>

<%- include('footer.ejs') %>
