<section class="webinar" id="webinar">
  <!-- Video carousel container -->
	<div class="video-carousel">
		<!-- First YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Dn35THgDWTQ" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

		<!-- Second YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Gop3nJVQ9R0" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

		<!-- Third YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube	.com/embed/qXYGwwDU0sU" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

    <!-- Fourth YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/_zsd_7j2T0c" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

    <!-- Fifth YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/3BpmxVWWhs4" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

    <!-- Sixth YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/nQrfRNcswr0" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

    <!-- Seventh YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/g9l2jBVch_w?start=171" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>

    <!-- Eightth YouTube video slide -->
		<div class="video-slide">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/ciqfo2s8dD8" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
		</div>
	</div>
</section>