@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
h1{ padding: 0 0 30px; }
nav.navbar.bootsnav{
    background-color: #6d320a;
    font-family: 'Nunito', sans-serif;
    min-height: 23px;
    padding: 0;
    margin-bottom: 150px;
    border: none;
}
nav.navbar.bootsnav .navbar-collapse{ padding: 0; }
nav.navbar.bootsnav ul.nav > li > a{
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    padding: 7px 10px 5px;
    margin: 0 15px 0 0;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a{ padding: 7px 20px 5px 10px; }
nav.navbar.bootsnav ul.nav > li.active > a,
nav.navbar.bootsnav ul.nav > li.active > a:hover,
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li.on > a{
    color: #fff;
    background-color: transparent;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content li a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu li a.dropdown-toggle:active,
nav.navbar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a{
    color: #fff;
    background: #6d320a;
}
nav.navbar.bootsnav ul.nav > li > a>span:before{
    content: '';
    background: #6d320a;
    height: 10px;
    width: 80%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.active > a>span:before,
nav.navbar.bootsnav ul.nav > li.active > a:hover>span:before,
nav.navbar.bootsnav ul.nav > li > a:hover>span:before,
nav.navbar.bootsnav ul.nav > li.on > a>span:before{
    opacity: 1;
    top: -10px;
}
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle:after{
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 7px;
    position: absolute;
    top: 7px;
    right: 5px;
    transition: all 0.3s;
}
nav.navbar.bootsnav ul.nav > li.dropdown > ul{
    background: transparent;
    padding: 0;
    border-radius: 0;
    transform: translateX(-20px);
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease 0s;
}
nav.navbar.bootsnav ul.nav > li.dropdown.on > ul{
    visibility: visible !important;
    transform: translateX(0);
}
.dropdown-menu.multi-dropdown{
    position: absolute;
    left: -100% !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
    background: transparent;
    border: none;
    top: 115%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
    color: #fff;
    background-color: #333;
    font-weight: 500;
    padding: 5px 10px;
    margin: 0 0 5px;
    border: none;
    position: relative;
    transition: all 0.3s;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content{
    background: #333;
    overflow: hidden;
    top: 112%;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content li{ font-size: 14px; }
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .menu-col li a{
    color: #fff;
    background-color: transparent;
    font-weight: 600;
    padding-left: 10px;
    margin: 0 0 5px;
    position: relative;
    transition: all 0.3s ease;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .menu-col li a:hover{
    color: #fff;
    background: #6d320a;
}
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover,
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:focus,
nav.navbar.bootsnav ul.nav li.megamenu-fw.on > a{
    color: #fff;
    background-color: transparent !important;
}
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{ padding: 0 15px; }
nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .title{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 5px;
    border-bottom: 2px solid #fff;
}
@media only screen and (max-width:990px){
    .dropdown-menu.multi-dropdown{ left: 0 !important; }
    nav.navbar.bootsnav{ background: transparent; }
    nav.navbar.bootsnav{ padding: 5px 10px 10px; }
    nav.navbar.bootsnav .navbar-toggle{
        color: #fff;
        background: #6d320a !important;
        padding: 5px 8px 3px;
        margin: 0 0 5px 0;
        border-radius: 0 !important;
    }
    nav.navbar.bootsnav.navbar-mobile .navbar-collapse{ background-color: #6d320a; }
    nav.navbar.bootsnav ul.nav>li{ margin: 0 auto; }
    nav.navbar.bootsnav.navbar-mobile ul.nav>li>a{
        text-align: left;
        padding: 10px 10px 10px 10px;
        margin: 10px 0 0;
    }
    nav.navbar.bootsnav ul.nav>li.dropdown>a{ padding: 10px 10px 10px 10px; }
    nav.navbar.bootsnav ul.nav>li.dropdown>a.dropdown-toggle:before{ color: #fff; }
    nav.navbar.bootsnav ul.nav > li.dropdown > ul{ left: -5px; }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu{
        margin: 0 0 -1px 0 !important;
        z-index: 1;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu>li>a{
        color: #fff;
        padding: 10px 10px !important;
        border: none;
        position: relative;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu>li>a:hover{ color: #fff; }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content{ top: 0; }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .col-menu .title{
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        padding: 0 25px 7px 0 !important;
        margin: 0 0 5px;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .content{
        background-color: #333;
        padding: 0;
        border: none;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .col-menu ul.menu-col li a{
       color: #fff;
       border: none;
       padding: 7px 10px !important;
       margin-bottom: 5px;
       z-index: 1;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu.megamenu-content .col-menu ul.menu-col li a:hover{
        color: #fff;
        background-color: #6d320a;
    }
}